.content {
    width: 80%;
    height: 792px;
    padding: var(--spacing-600) 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .content {
        width: 90%;
        padding: var(--spacing-400) 0;
    }
}

@media screen and (max-width: 425px) {
    .content {
        width: 688px;
        padding: var(--spacing-300);
    }
}